@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.3rem); /* Adjust the distance as needed */
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-down-text {
  animation: moveDown 1.5s ease-in-out infinite; /* Adjust the duration and timing function as needed */
}

@media (max-width: 639px) {
  @keyframes moveDownMobile {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.25rem); /* mobile shorter distance */
    }
    100% {
      transform: translateY(0);
    }
  }
}
