@import 'tailwindcss';

@theme {
  /* Breakpoints */
  --breakpoint-sm: 260px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Custom Classes */
  --shadow-link: 0px 0px 1.5rem 0.25rem rgba(255, 255, 255, 0.5);
}

@layer components {
  .sidebar-selected {
    @apply bg-white/20;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .scrollbar-default {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }

  .scrollbar-default::-webkit-scrollbar {
    display: block;
  }
}

.radial-shift {
  @apply w-full;
  background: radial-gradient(circle at center, #ff4d4f, #40a9ff, #73d13d);
  animation: radial-shift-animation 2s ease-in-out infinite;
  background-size: 150% 150%;
  background-repeat: no-repeat;
}

@keyframes radial-shift-animation {
  0% {
    background-position: 0% 0%;
    filter: hue-rotate(0deg);
  }
  50% {
    background-position: 100% 100%;
    filter: hue-rotate(180deg);
  }
  100% {
    background-position: 0% 0%;
    filter: hue-rotate(360deg);
  }
}

.rgb-border {
  @apply bg-gradient-to-tr from-red-600 via-green-600 to-indigo-600;
}
